* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}

span,
a,
h1,
h2,
h3 {
  color: #000;
}

button {
  background: #8d4fab !important;
  border: 1px solid #fff !important;
  border-radius: 0.2rem;
  color: #fff !important;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.6rem !important;
  text-transform: uppercase;
}
